@import url('https://fonts.googleapis.com/css2?family=Clash+Grotesk:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lg-main-bg: #031716; /* Large main background */
  --lg-accent-bg: #032F30; /* Large accent background */
  --primary: #0A7075; /* Primary color */
  --primary-accent: #0C969C; /* Primary accent */
  --secondary: #6BA3BE; /* Secondary color */
  --secondary-accent: #274D60; /* Secondary accent */
}


body {
  background: #000;
  font-family: 'Clash Grotesk', sans-serif;
  overflow-x: hidden;
}


/*Hero*/
.custom-shape-divider-bottom {
  position: absolute;
  width: 150%;
  height: 100%;
  overflow: hidden;
  top: 0;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: 100%;
  height: 90%;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom .shape-fill {
  fill: #000;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

